/* ----- ELEMENT SELECTORS ----- */
* {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'VT323', monospace;
}


/* ----- CLASS SELECTORS ----- */
body, html{
    background-image: linear-gradient(to bottom, rgb(112, 188, 226), rgb(112, 211, 112));
    height: 200vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scroll-snap-type: y proximity;
}

.header {
    height: 70vh;
    padding: 5% 10%;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    scroll-snap-align: center;
}

.content {
    height: 70vh;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    scroll-snap-align: center;
}

.playingArea {
    width: 100%;
    flex: 0 1 500px;
    display: flex;
    justify-content: space-evenly;
}

.buttonContainer {
    background-image: url("../img/button-background.png");
    flex-shrink: 0;
    height: 255px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 32px;
    align-items: center;
    padding-bottom: 44px;
}

.characterContainer {
    width: 400px;
}

.spriteContainer {
    position: relative;
    width: 100%;
    height: 50%;
}

.healthBarContainer {
    width: 100%;
    height: 20%;
    padding: 30px 20px;
    box-sizing: border-box;
}

.healthBarBase {
    width: 100%;
    height: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 7px;
    border: 3px solid black;
}

.currentHealth {
    width: 100%;
    height: 100%;
    background-color: rgb(79, 167, 79);
}

.consoleOuter {
    width: 70%;
    border: 3px solid rgb(141, 144, 156);
    flex: 0 1 150px;
    border-radius: 10px;
    background-color: rgb(89, 110, 169);
    display: flex;
    justify-content: center;
    align-items: center;
}

.consoleInner {
    border: 3px solid rgb(141, 144, 156);
    background-color: rgb(251, 147, 0);
    width: 98.5%;
    height: 88%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.consoleTextBox {
    background-color: white;
    border-left: 10px solid rgb(250, 227, 28);
    border-right: 10px solid rgb(250, 227, 28);
    width: 95%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
}

.scoreDisplay {
    display: flex;
    gap: 48px;
    border: 1px solid black;
}


/* ----- TEXT SELECTORS ----- */
.titleText {
    font-size: 64px;
    font-weight: 700;
}

.howToPlayText {
    font-size: 36px;
}

.adviceText {
    font-size: 28px;
}

#consoleText {
    font-size: 36px;
}


/* ----- BUTTON SELECTORS ----- */
.choiceButton {
    width: 150px;
    height: 50px;
    font-family: 'VT323', monospace;
    color: white;
    font-size: 32px;
    border-radius: 10px;
    border-width: 4px;
}

#rockButton {
    background-color: rgb(126, 25, 25);
    box-shadow: inset 0px 25px 10px -5px rgb(212, 61, 61);
    border-color: rgb(184, 59, 59);
}

#paperButton {
    background-color: rgb(120, 22, 133);
    box-shadow: inset 0px 25px 10px -5px rgb(151, 46, 165);
    border-color: rgb(149, 71, 160);
}

#scissorsButton {
    background-color: rgb(17, 58, 121);
    box-shadow: inset 0px 25px 10px -5px rgb(43, 90, 161);
    border-color: rgb(72, 115, 180);
}

.retryButton {
    width: 100px;
    height: 40px;
    font-family: 'VT323', monospace;
    color: black;
    font-size: 36px;
    margin-top: 10px;
    background-color: white;
    border: none;
    border-bottom: 2px solid black;
}

.retryButton:hover {
    font-weight: 700;
}


/* ----- IMAGE SELECTORS ----- */
.characterSprite {
    position: absolute;
    bottom: 60px;
    right: 105px;
    transition: .25s ease;
}

.groundSprite {
    width: 300px;
    height: auto;
    position: absolute;
    image-rendering: pixelated;
    bottom: 35px;
    left: 50px;
    
}

/* ----- ANIMATIONS ----- */
.userAttack {
    bottom: 70px;
    right: 90px;
    transform: scale(1.05);
    content: url("../img/user-attack.png");
}

.userDamage {
    bottom: 55px;
    right: 115px;
    transform: scale(0.95);
    content: url("../img/user-damage.png");
}

.computerAttack {
    bottom: 55px;
    right: 115px;
    transform: scale(1.05);
    content: url("../img/computer-attack.png");
}

.computerDamage {
    bottom: 55px;
    right: 95px;
    transform: scale(0.95);
    content: url("../img/computer-damage.png");
}

.computerDeath, .userDeath {
    opacity: 0;
}