/* ----- ELEMENT SELECTORS ----- */
* {
    margin: 0;
    padding: 0;
}

p {
    font-family: 'VT323', monospace;
}


/* ----- CLASS SELECTORS ----- */
.mainContainer {
    background-color: rgb(223, 225, 218);
    height: 200vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    height: 65vh;
    padding: 5% 10%;
    background-color: red;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.content {
    height: 80vh;
    background-color: aquamarine;
    padding: 0 3%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.playingArea {
    background-color: brown;
    width: 100%;
    flex: 0 1 500px;
    display: flex;
    justify-content: space-evenly;
}

.buttonContainer {
    background-color: purple;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.characterContainer {
    background-color: green;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.consoleOuter {
    width: 70%;
    border: 3px solid rgb(141, 144, 156);
    flex: 0 1 150px;
    border-radius: 10px;
    background-color: rgb(89, 110, 169);
    display: flex;
    justify-content: center;
    align-items: center;
}

.consoleInner {
    border: 3px solid rgb(141, 144, 156);
    background-color: rgb(251, 147, 0);
    width: 98.5%;
    height: 88%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.consoleTextBox {
    background-color: white;
    border-left: 10px solid rgb(250, 227, 28);
    border-right: 10px solid rgb(250, 227, 28);
    width: 95%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
}

.scoreDisplay {
    display: flex;
    gap: 48px;
    border: 1px solid black;
}


/* ----- TEXT SELECTORS ----- */
.titleText {
    font-size: 64px;
    font-weight: 700;
}

.howToPlayText {
    font-size: 32px;
}

.adviceText {
    font-size: 24px;
}

#consoleText {
    font-size: 36px;
}


/* ----- BUTTON SELECTORS ----- */
.choiceButton {
    width: 150px;
    height: 50px;
    font-family: 'VT323', monospace;
    color: white;
    font-size: 32px;
    border-radius: 10px;
    border-width: 4px;
}

#rockButton {
    background-color: rgb(126, 25, 25);
    box-shadow: inset 0px 25px 10px -5px rgb(212, 61, 61);
    border-color: rgb(184, 59, 59);
}

#paperButton {
    background-color: rgb(120, 22, 133);
    box-shadow: inset 0px 25px 10px -5px rgb(151, 46, 165);
    border-color: rgb(149, 71, 160);
}

#scissorsButton {
    background-color: rgb(17, 58, 121);
    box-shadow: inset 0px 25px 10px -5px rgb(43, 90, 161);
    border-color: rgb(72, 115, 180);
}